.DS_Store
node_modules
/lib
/bin

# local env files
.env.local
.env.*.local
# unuse
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
base
2工程
1工程
coverage
temp
data.json
# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
readme-md.md
readme-file.js
/demo
package-lock.json
yarn.lock
